@use "../../../StyleSheets/TemplateStyle/templateStyle" as *;
.dashboard-products{
  position: relative;
  padding: 30px 10px 30px 0;
  @media screen and (max-width:700px) {
    padding: 30px 15px;
  }

  .section-title{
    @extend %section-title;
  }

  .product-table{
    overflow: auto;
    height: 75vh;
    &::-webkit-scrollbar{
      height: 7px;
      width: 7px;
      margin-top: 10px;
    }
    &::-webkit-scrollbar-thumb{
      width: 7px;
      background: rgb(12, 0, 82);
    }
    &::-webkit-scrollbar-track{
      background: #d0ffe2;
    }

    table{
      min-width: 100%;
      border: 1px solid #000;
      border-collapse: collapse;
      tr, td, th{
        // border: 1px solid #000;
        
        white-space: nowrap;
      }
      tr{
        border-bottom: 1px solid #adadad;
      }
      thead{
        position: sticky;
        top: 0;
        background: #1b0138;
        tr{
          th{
            padding: 7px 20px;
            color: #eee;
            font-weight: 500;
            font-size: 12px;
          }
        }
      }
      tbody{
        tr{
          td{
            padding: 4px  20px;
            font-size: 13px;
            letter-spacing: -1px;
            img{
              width: 30px;
  
            }
            .in-stock{
              color: green;
              font-size: 11px;
              font-weight: 600;
            };
            .stock-out{
              font-size: 11px;
              font-weight: 600;
              color: #f00;
            }
            .price{
              font-weight: 600;
              font-size: 11px;
            }
            button{
              background: transparent;
              border: none;
              cursor: pointer;
              outline: none;
            }
            button.delete-button{
              color: #c72121;
            }
            button.edit-button{
              color: #007694;
            }
          }
          &:nth-child(even){
            background: #eee;
          }
          &.stock-out-product{
            background: #ffd1d1;
          }
        }
      }
    }
  }

}