@use '../../StyleSheets/TemplateStyle/templateStyle' as *;
@use '../../StyleSheets/LayoutMixin/layoutMixin' as *;
.product-cart{
  position: relative;
  .qty-badge{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    background: #000;
    border-radius: 50%;
    color: #eee;
    font-size: 10px;
    @include flexing(row, center, center);
  }
  .image{
    padding: 25px 15px 15px;
    background: #f7f7f7;
    img{
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }
  .content{
    padding: 10px 15px 25px;
    background: #eee;
    h4{
      color: #444;
      font-size: 14px;
      margin-bottom: 8px;
    }
    p{
      font-size: 12px;
      margin-bottom: 7px;
    }
    h5{
      color: #d84d0c;
    }
    .actions{
      margin-top: 15px;
      @include flexing (row, space-between, center);
      button.add-to-cart{
        @extend %button;
      }
      button.wish-list{
        @extend %button2;
      }
      button.remove-cart{
        @extend %button3;
      }
    }
  }
}