@use '../../../StyleSheets/LayoutMixin/layoutMixin' as *;
@use "../../../StyleSheets/TemplateStyle/templateStyle" as *;
.add-product{
  padding: 30px 10px 30px 0;

  .section-title{
    @extend %section-title;
  }

  .input-grid{
    @include griding(repeat(2,1fr), 7px, space-between, center);
  }
  .input-group{
    margin-bottom: 15px;
    *{
      display: block;
      width: 100%;
    }
    input{
      outline: none;
      border: 1px solid #5e5e5e;
      padding: 10px;
      font-size: 13px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
          display: none;
      }
    }
    label{
      font-size: 12px;
      margin-bottom: 5px;
      font-weight: 600;
    }
    select{
      padding: 10px;
    }
  }

  .clear-btn{
    @extend %button3;
  }
  button[type="submit"]{
    @extend %button;
  }
}