%commonButton {
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
  color: #eee;
  text-transform: uppercase;
  &:active{
    color: #eee;
    background: #000 !important;
  }
}
%button {
  @extend %commonButton;
  background: linear-gradient(#3f0a85, #19003a);
  &:hover{
    background: linear-gradient(#13002c, #330274);
  }
};

%button2{
  @extend %commonButton;
  background: linear-gradient(#e65908, #fa5001);
  &:hover{
    background: linear-gradient(#fa5001, #b13800);
  }
}

%button3{
  @extend %commonButton;
  background: linear-gradient(#f01948, #b11d02);
  &:hover{
    background: linear-gradient(#b11d02, #f01948);
  }

}