
@use "../../../StyleSheets/LayoutMixin/layoutMixin" as *;
// @use "../../../StyleSheets/" as *;
header.header{
  background: #111;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  nav{
    @include flexing(row, space-between, center) ;
    .logo{
      h4{
        text-transform: uppercase;
        color: #eee;
      }
    }
    ul.menu{
      list-style-type: none;
      @include flexing(row, flex-end, center);
      li{
        a{
          display: block;
          color: #eee;
          padding: 10px 15px;
          font-size: 13px;
          transition: all 200ms;
          &:hover{
            color: #ff3c00;
          }
          &.active{
            color: #ff3c00;
            background: #252525c0;
          }
        }
      }
    }
  }
}